@page "/"

<PageTitle>SIA - Projeto Integrador</PageTitle>

<style scoped>
    body {
        text-align: center;
        list-style-type: none;
    }
    
    ul {
        list-style-type: none;
    }
</style>

<h2 class="fw-bolder text-danger">UNIVERSIDADE VIRTUAL DO ESTADO DE SÃO PAULO</h2>
<h3  >Projeto Integrador</h3>
<hr/>

<br/>
<h2 class="fw-bold">SIA - Sistema Informatizado do Aluno</h2>
<br />

<p>
    <strong>Nome dos integrantes</strong>
</p>

<ul>
    <li>Alessandro Antunes, 2100407</li>
    <li>Erick Marques, 2102656</li>
    <li>Leandro Ferreira, 2103384</li>
    <li>Lucas Lucio, 2109116</li>
    <li>Lucas Silva, 2105264</li>
    <li>Rafael Xavier, 2100307</li>
    <li>Rogério Sossolote, 2103775</li>
    <li>Tiago Dias, 2109001</li>
</ul>