@page "/professores/{Id:int}"
@using PI.SIA.Models
@using PI.SIA.Services
@inject ProfessorService _service
@inject NavigationManager NavigationManager

<div class="container mt-3">
    <h3 class="fw-bolder">@(Id == 0 ? "Adicionar" : "Editar") Professor</h3>

    <EditForm Model="@registro" OnValidSubmit="@HandleValidSubmit">
        <div class="form-group">
            <label for="nome">Nome</label>
            <InputText id="nome" class="form-control" @bind-Value="registro.Nome"/>
        </div>
        <br/>

        <div class="form-group">
            <label for="registroAluno">Especialização do Professor</label>
            <InputText id="registroAluno" class="form-control" @bind-Value="registro.Especializacao"/>
        </div>
        <br/>
        <br/>

        <button type="submit" class="btn btn-success">Salvar</button>
        <button class="btn btn-secondary" @onclick="Voltar">Cancelar</button>
    </EditForm>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private Professor registro = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            registro = await _service.ObterPorIdAsync(Id);
        }
    }

    private async Task HandleValidSubmit()
    {
        if (registro.Nome.IsNullOrEmpty()) return;

        if (Id == 0)
        {
            await _service.IncluirAsync(registro);
        }
        else
        {
            await _service.EditarAsync(registro);
        }

        NavigationManager.NavigateTo("/professores");
    }

    private void Voltar()
    {
        NavigationManager.NavigateTo("/professores");
    }
}