@inherits LayoutComponentBase

<PageTitle>PI.SIA</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <article class="content px-4">
                        @Body
                    </article>
                </div>
            </div>
        </div>

    </main>
</div>